.listContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 50px;
  column-gap: 29px;
  margin: 0 auto 100px;
}
.carListWrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
  gap: 50px 9px;
  justify-items: center;
  justify-content: space-around;
}
