.listContainer {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 50px;
  margin-bottom: 100px;
}
.carListWrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(274px, 1fr));
  gap: 50px 9px;
  justify-items: center;
  justify-content: space-around;
}
.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
